<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itpzy.crowdfunding.potal.dao.CertFormMapper">
  <resultMap id="BaseResultMap" type="com.itpzy.crowdfunding.bean.CertForm">
    <id column="id" property="id"></id>
    <result column="memid" property="memid"></result>
    <result column="piid" property="piid"></result>
    <result column="formstatus" property="formstatus"></result>
    <result column="code" property="code"></result>
    <result column="lastproc" property="lastproc"></result>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_cert_form
    where id = #{id}
  </delete>
  <insert id="insert" parameterType="MemberCert">
    insert into t_cert_form (memid,formstatus,lastproc)
    values (#{memid},'0',#{lastproc});
  </insert>
  <update id="updateByPrimaryKey" parameterType="MemberCert">
    update t_cert_form
    set
      piid=#{piid},
      code=#{code},
      lastproc=#{lastproc}
    where memid=#{memid} and formstatus =0;
  </update>

  <select id="selectByMemid" resultMap="BaseResultMap">
    select * from t_cert_form where memid=#{memid} and formstatus= '0' ;
  </select>

  <select id="updateLastProc" parameterType="CertForm">
      UPDATE t_cert_form
      SET lastproc = #{lastproc}
      where id=#{id} and formstatus=0 ;
  </select>

  <update id="updateFinish" parameterType="certForm">
    UPDATE t_cert_form
    SET  lastproc=#{lastproc}
    where id=#{id}
  </update>

  <update id="passAudit" >
    UPDATE t_cert_form SET formstatus='1' WHERE  memid =#{id} and formstatus='0';
  </update>




</mapper>