<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itpzy.crowdfunding.manager.dao.RoleMapper">
  <resultMap id="BaseResultMap" type="com.itpzy.crowdfunding.bean.Role">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_role
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="Role">
    insert into t_role (id, name)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="Role">
    update t_role
    set name = #{name,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, name
    from t_role
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name
    from t_role
  </select>

  <select id="selectCount" resultType="int" >
    select count(1) from t_role
  </select>

  <select id="selectCountWithText" resultType="int" >
    select count(1) from t_role
    <where>
      <if test="queryText!=null and queryText !='' ">
        name like concat('%',#{queryText},'%');
      </if>
    </where>
  </select>

  <select id="selectRole" resultMap="BaseResultMap" >
    select * from t_role
    <where>
      <if test="text!=null and text!='' "> name like concat('%',#{text},'%')</if>
    </where>
    limit #{page.startIndex},#{page.pageSize};
  </select>

  <select id="selectRoleWithPermission" parameterType="int" resultType="int" >
    select permissionid from t_role_permission where roleid = #{id};
  </select>

  <insert id="assignPermission"  >
    INSERT into t_role_permission (roleid,permissionid) value(#{roleid},#{permissionid});
  </insert>

  <delete id="deletePermissionById" >
    DELETE from t_role_permission where roleid = #{id};
  </delete>
</mapper>